
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.button{
  background-color: orange;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  border:none;
  border-radius: 3px;
  margin-left: -90px;
}
.img{
  margin-bottom: 10px;
}